@import '../common/styles/variables';

@media screen and (max-width: 992px) {
	.footer {
		display: flex;
		justify-content: center;

		.footer-left {
			display: none !important;
		}

		.footer-right {
			position: relative;
			width: auto;
			margin: auto;
			justify-content: center;
		}
		.all-rights-reserved {
			display: none !important;
		}
	}

	
}

.footer {
	position: absolute;
	bottom: 0;
	// display: flex;
	// justify-content: space-between;
	// background-color: $black;
	// width: 100%;
	font-size: 14px;
	height: 80px;
	// font-weight: bold;
	width: 100%;
	padding: 1rem;
	box-sizing: border-box;
	background-color: $black;
	color: #8f919a;
	display: flex;
	justify-content: space-between;
	font-family:  Lato,Helvetica Neue,Arial,Helvetica,sans-serif;
	height: $footer-height;

	&-left {
		display: flex;
		color: $footer-text;
		flex-direction: column;
		flex-flow: column nowrap;
		-ms-flex-pack: space-evenly;
		justify-content: space-evenly;
		-ms-flex-align: flex-start;
		align-items: flex-start;
		-ms-flex: 1 0 auto;
		flex: 1 0 auto;
		margin-left:2rem;

		&-links {
			display: flex;

			& span {
				margin-right: 24px;
				//opacity: 0.5;
			}
		}

		&-icons {
			display: flex;

			&-icon {
				margin-right: 24px;
				color:#8f919a;
				margin-top: 1rem;
				
			}
		}
	}

	&-right {
		display: flex;
		color: $gray;
		-ms-flex-align: flex-end;
		align-items: flex-start;
		flex-direction: row;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: center;


		.Dropdown-menu {
			border-radius: 1rem !important;
			background-color: #272329 !important;
			border: 1px solid #000 !important;
			color: #ffffff !important;
			width: 152px !important;
			right: 0.05rem !important;
			padding: 1px !important;
			margin: 1px !important;
			min-width: 12rem !important;
		}
		
		.Dropdown-option {
			color: #ffffff !important;
		}
		
		.is-selected {
			color: #ffffff !important;
			background-color: #272329 !important;
		}
		
		.is-selected:hover {
			color: #ffffff !important;
		}
		
		.Dropdown-option:hover {
			background-color: #666 !important;
			color: #ffffff;
			border-radius: 0.2rem;
		}
		

		.Dropdown-menu{
			padding: 0.78571429em 2.1em 0.78571429em 1em;
			margin-top: -155px !important;
			max-height: -27px;
			overflow-y: 0;
			position: absolute;
			/* top: 100%; */
			width: 14rem;
			min-width: 14rem;
			min-height: 2.714286em;
			z-index: 1000;
			-webkit-overflow-scrolling: touch;
		}

		& span {
			margin-right: 1rem;
		}
	}
}

// .Dropdown-menu {
// 	border-radius: 1rem !important;
// 	background-color: #272329 !important;
// 	border: 1px solid #000 !important;
// 	color: #ffffff !important;
// 	width: 150px !important;
// 	right: 0.05rem !important;
// 	padding: 1px !important;
// 	margin: 1px !important;
// 	min-width: 12rem !important;
// }

// .Dropdown-option {
// 	color: #ffffff !important;
// }

// .is-selected {
// 	border-radius: 0.2rem !important;
// 	color: #ffffff !important;
// 	padding: 1px;
// 	background-color: #272329 !important;
// }

// .is-selected:hover {
// 	border-radius: 1rem !important;
// 	color: #ffffff !important;
// 	background-color: #666 !important;
// }

// .Dropdown-option:hover {
// 	background-color: #666 !important;
// 	color: #ffffff;
// 	border-radius: 0.2rem;
// }

// flex-flow: column nowrap;
// -ms-flex-pack: space-evenly;
// justify-content: space-evenly;
// -ms-flex: 1 0 auto;
// flex: 1 0 auto;



//Drop Up Menu
